:root {
--basic-text-color: #000000;
--basic-background-color: #ffffff;

}

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;

    font-family: 'Roboto', sans-serif;
    min-width: 1160px;
    min-height: 100%;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    font-weight: normal;
    background-color: var(--basic-background-color);
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
  }
  
img {
    max-width: 100%;
    height: auto;
  }

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
  }

.logo:hover {
    cursor: pointer;
}

.logo:active {
    opacity: 0.3;
}  

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.main-menu {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 9px;
    margin-top: 75px;

    color: #000000;
    background-color: var(--basic-background-color);
    text-transform: uppercase;
    font-size: 16px;   
    list-style: none;

}
.container .main-menu {
    display: flex;
    justify-content: space-between;
}

.main-navigation {  
    display: flex;
    flex-wrap: wrap;
    
    list-style: none;
    width: 484px;
    margin: 0 auto;
    padding: 0 auto;
}

.main-navigation a {
    padding-right: 44px;
}


.basket {
    color: #000000;
    background-color: var(--basic-background-color);
    text-transform: uppercase;
    font-size: 16px;   
    list-style: none;
    width: 115px;
    padding-left: 25px;

}

.basket-wrapper {
    display: flex;
    justify-content: end;
}

.main-navigation a,
.basket a {  
    display: block;
}


.logo {
    display: flex;
    align-self: start;
    width: 160px; 
    height: 65px;

    outline: 5px solid green;
}

.main-navigation a:hover{
    color: #FB565A;
}

.basket:hover {
    color: #FB565A;
} 

.main-navigation a:active{
    color: #000000;
    opacity: 0.3;
}

.basket:active {
    color: #000000;
    opacity: 0.3;
}


.slider-wrapper {   
    list-style: none;
    margin: 0;
    padding: 0;
}

.slider-wrapper li:nth-child(1) {
    background-image: url(../img/index-slide1.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 760px;
    height: 431px;
    
}
.slider-wrapper li:nth-child(2) {
    background-image: url(../img/index-slide2.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 760px;
    height: 431px;
}

.slider-wrapper li:nth-child(3) {
    background-image: url(../img/index-slide3.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 760px;
    height: 431px;
    margin-bottom: 80px;
}

.slider-page {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.slider-tagline {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    width: 538px;
    
}

.slider-text {
    font-size: 16px;
    line-height: 24px;  
    width: 400px;
    
}

.slider-button {    
    display: block;
    width: 240px;
    height: 50px;
    background-color: #FB565A;
    border-style: none;
    border-radius: 3px;
    box-sizing: border-box;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-transform: uppercase;  
    padding-left: 54px;
    padding-top: 16px;
    padding-right: 54px;
    padding-bottom: 16px;
}


/* Buttons live*/

.btn:hover {
    background-color: #E74246;
}

.btn:active{
    background-color: #D7373B;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: #E37376;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
}

.services-item {
    width: 300px;
}

.service-name {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    list-style: none;
}

.service-text {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.delimiter {
    display: flex;
    align-items: center;

    content: "";
    position: absolute;
    
    width: 1160px;
    height: 2px;
    background: #EEEEEE;
    
}

.red {
    background-color: #FB565A;
}

.green {
    background-color: #00CA74;
}

.green:hover {
    background-color: #00BC6C;
}

.green:active {
    background-color: #00AA62;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.yellow {
    background-color: #EFC84A;
}

.yellow:hover {
    background-color: #EAB534;
}
.yellow:active {
    background-color: #E5A722;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.service-button,
.red,
.green,
.yellow {
    display: block;

    width: 160px;
    height: 50px;
    border-style: none;
    border-radius: 3px;
    
    width: 81px;
    height: 18px;

    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-left: 39px;
    padding-top: 17px;
    padding-right: 40px;
    padding-bottom: 15px;
}

.about-wrapper {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    margin-bottom: 128px;
}
.about-main-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 660px;

}

.about-main {
    display: flex;
    flex-wrap: wrap;
    width: 651px;
    margin-top: 155px;
}

.about-tagline {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: #000000;
    background-color: var(--basic-background-color);
    width: 651px;
}

.about-text {
    
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #283136;
    width: 646px;
}

.about-items {
    display: flex;
    flex-wrap: wrap;
    
    width: 431px;
}

.about-orders {    
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #283136;
    width: 306px;
}

.about-list {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #283136;
    list-style: none;
    width: 399px;
}

.about-list li::before {    
    
    content: "";
    position: absolute;
    top: inherit;
    width: 25px;
    height: 2px;
    background: #FB565A;
}


/* не срабатывает выравнивание по центру....почему? */
.advantage-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    width: 360px;
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 121px;    
}

.advantage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    color: black;
    width: 345px;
    margin: 0;
    padding: 0;

}

.advantage-tagline {  
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 37px;
}

.advantage-rate {
    font-size: 45px;
    line-height: 64px;
    font-weight: bold;
    list-style: none;
    
}
.percent {
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
    
}

.advantage-text {
    font-size: 16px;
    line-height: 18px;
    color: #283136;
}

.clients {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.clients-condition {
    opacity: 0.2;
}

.clients-condition:hover {
    opacity: 1;
}

.clients-condition:active {
    opacity: 0.1;
}

.map {
    background-image: url(../img/index-map.jpg);
    margin: 0 auto;
    padding: 0 auto;
    width: 1440px;
    height: 416px;
    
}
.map-adress-wrapper {
    display: flex;
    justify-content: space-between;
}
.map-adress {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    content: "";
    position: absolute;
    
    width: 319px;
    height: 308px;
    background: #FFFFFF;
    margin-top: 54px;
    margin-right: 981px;
    margin-bottom: 54px;
    margin-left: 140;

    outline: 5px solid #ff0000;
}

.contact-name {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.contact-adress {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}

.contact-button {                                                               
    display: block;
    width: 219px;
    height: 50px;
    background-color: #FB565A;
    border-style: none;
    box-sizing: border-box;
    border-radius: 3px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 44px;
    padding-top: 17px;
    padding-right: 44px;
    padding-bottom: 15px;
}

.social-button {
    display: flex;
    flex-wrap: wrap;
    width: 261px;
    
}

.social-button li{
    width: 81px;
    height: 81px;
    list-style: none;
    background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
    border-style: none;
    border-radius: 50%;
}

.social-button li:hover {
    background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social-button li:active{
    background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-vk {
    display: block;
    padding-left: 27px;
    padding-top: 33px;
    padding-right: 28px;
    padding-bottom: 33px;
}

.social-fb {
    display: block;
    padding-left: 35px;
    padding-top: 31px;
    padding-right: 34px;
    padding-bottom: 28px;
}

.social-inst {
    display: block;
    padding: 30px;
}

.social-vk:active,
.social-fb:active,
.social-inst:active {
    opacity: 0.3;
}

.friendship {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
    
}

.get-friends {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;

}

.get-friends-text {
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

.friendship-items {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 660px;
    

}



/* Catalog */

.catalog-wrapper {
    outline: 5px solid red;

    display: grid;
    grid-template-columns: 260px 1fr;
    align-content: start;
}

.catalog-left {
    outline: 5px solid blue;
    width: 260px;
}

.catalog-right {
    outline: 5px solid blue;
    
    margin-left: 140px;
}

.shop {
    text-align: center;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
}
.filter fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 1382px;
    border: none;
}
.filter fieldset:first-child {
    margin-bottom: 54px;
}

.filter fieldset:nth-child(2) {
    margin-bottom: 43px;
}

.filter fieldset:nth-child(3) {
    margin-bottom: 48px;
}


.filter-name {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}


/* у всех названий фильтров отступ делается одинковый, по первому, хотя для каждого ребенка делаю свой, почему они не применяются?*/
.filter legend:first-child {
    margin-bottom: 48px;
}

.filter legend:nth-child(2) {
    margin-bottom: 13px;
}

.filter legend:nth-child(3) {
    margin-bottom: 14px;
}


.filter-points li {
    font-size: 16px;
    line-height: 19px;
    color: #283136;
    list-style: none;
    opacity: 0.4;
}

.filter-points li:hover {
    opacity: 1;
}

.show-button {
    width: 260px;
    height: 50px;
    background-color: #EEEEEE;
    border-style: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    padding-left: 88px;
    padding-top: 17px;
    padding-right: 89px;
    padding-bottom: 15px;
    outline: none;

}

.sorting li {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    list-style: none;
    opacity: 0.3;
}

.sorting li:hover{
    opacity: 0.6;
}

.sorting li:active {
    opacity: 1;
}


.next-button a{
    display: block;
    background-color: #EEEEEE;
    box-sizing: border-box;
    border-style: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: black;
}

.next-button .next-button-number {
    width: 50px;
    height: 50px;
    padding-left: 20px;
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 15px;
}

.next-button .next-button-number-next {
    width: 260px;
    height: 50px;
    text-transform: uppercase;
    padding-left: 78px;
    padding-top: 17px;
    padding-right: 77px;
    padding-bottom: 15px;
}

.next-button a:hover,
.show-button:hover {
    background-color: #DFDFDF;
}

.next-button a:active,
.show-button:active {
    background: #D5D5D5;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.next-button .next-button-selected {
    background: rgba(0, 0, 0, 0.0001);
    border: 3px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
}

.makets {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
    list-style: none;
}

.makets-items:nth-child(1) {
    width: 360px;
    margin-right: 41px;
}

.makets-items {
    width: 358px;
    min-height: 580px;
    margin-bottom: 30px;
}


.makets-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.makets-items h3 {
    padding-left: 145px;
    padding-top: 26px;
    padding-right: 144px;
    padding-bottom: 175px;
}

.makets-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.makets-items span {
    display: block;
    text-align: center;
    padding-left: 68px;
    padding-top: 26px;
    padding-right: 53px;
    padding-bottom: 126px;
}

.makets-box:hover {
    width: 360px;
    height: 231px;
    background-color: #EEEEEE;
}

.price-button {
    display: flex;
    width: 200px;
    height: 50px;
    background-color: #FB565A;
    border-style: none;
    border-radius: 3px;
    box-sizing: border-box;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;

    padding-left: 72px;
    padding-top: 17px;
    padding-right: 72px;
    padding-bottom: 15px;

}

/* кнопка не хочет вставать по центру, что не так? */
.makets-items a { 
    display: flex;
    padding-left: 72px;
    padding-top: 17px;
    padding-right: 72px;
    padding-bottom: 15px;
}
