:root {
--basic-text-color: #000000;
--basic-background-color: #ffffff;

}

body {
    font-family: 'Roboto', sans-serif;
    min-width: 1160px;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    font-weight: normal;
    background-color: var(--basic-background-color);
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
  }
  
img {
    max-width: 100%;
    height: auto;
  }

.logo:hover {
    cursor: pointer;
}

.logo:active {
    opacity: 0.3;
}  

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
.main-menu{
    display: flex;
    flex-basis: auto;
    justify-content: space-between;
    align-items: center;
}

.main-navigation {
    display: flex;
    flex-wrap: wrap;
    color: #000000;
    background-color: var(--basic-background-color);
    text-transform: uppercase;
    font-size: 16px;   
    list-style: none;
    padding-top: 75px;
}

.main-navigation a {
    
    padding-left: 44px;
    padding-right: 44px;
    
}
.basket {
    color: #000000;
    background-color: var(--basic-background-color);
    text-transform: uppercase;
    font-size: 16px;   
    list-style: none;
}


.basket-container {
    display: flex;
    padding-right: 140px;
    padding-top: 75px;
}

.logo {
    display: flex;
    padding-left: 140px;
    padding-top: 49px;
}

.main-navigation a:hover{
    color: #FB565A;
}

.basket:hover {
    color: #FB565A;
} 

.main-navigation a:active{
    color: #000000;
    opacity: 0.3;
}

.basket:active {
    color: #000000;
    opacity: 0.3;
}

.slider {
    display: flex;
    flex-basis: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
    list-style: none;
    color: black;
}

.slider-content {
    display: flex;
    flex-wrap: wrap;
    width: 397px;
    padding-left: 100px;
    padding-top: 78px;

}

.slider-tagline {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    margin: 0px;
}

.slider-text {
    font-size: 16px;
    line-height: 24px;  
    padding-top: 25px;
    padding-bottom: 38px;
    margin: 0px;
}

.slider-button {    
    display: block;
    width: 240px;
    height: 50px;
    background-color: #FB565A;
    border-style: none;
    border-radius: 3px;
    box-sizing: border-box;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-transform: uppercase;  
    padding-left: 54px;
    padding-top: 16px;
    padding-right: 54px;
    padding-bottom: 16px;
    margin: 0px;
}


.slider-img {
    
    width: 760px;
    padding-right: 143px;
    outline: none;
    margin: 0px;
    
}

/* Buttons live*/

.btn:hover{
    background-color: #E74246;
}

.btn:active{
    background-color: #D7373B;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: #E37376;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 140px;
    padding-right: 200px;
    list-style: none;
    color: black;
}

.services-item {
    display: flex;
    width: 300px;
    flex-direction: column;
}

.service-name {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    list-style: none;
}

.service-text {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.red {
    background-color: #FB565A;
}

.green {
    background-color: #00CA74;
}

.green:hover {
    background-color: #00BC6C;
}

.green:active {
    background-color: #00AA62;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.yellow {
    background-color: #EFC84A;
}

.yellow:hover {
    background-color: #EAB534;
}
.yellow:active {
    background-color: #E5A722;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.service-button,
.red,
.green,
.yellow {
    display: block;

    width: 160px;
    height: 50px;
    border-style: none;
    border-radius: 3px;
    
    width: 81px;
    height: 18px;

    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-left: 39px;
    padding-top: 17px;
    padding-right: 40px;
    padding-bottom: 15px;
}

.clients {
    display: flex;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    list-style: none;
}

.clients-condition {
    opacity: 0.2;
}

.clients-condition:hover {
    opacity: 1;
}

.clients-condition:active {
    opacity: 0.1;
}

.map {
    display: flex;
    justify-content: space-between;
}

.about-main {
    display: flex;
    padding-left: 140px;
    flex-wrap: wrap;
    width: 651px;
}

.about-tagline {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: #000000;
    background-color: var(--basic-background-color);
}

.about-text {
    
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #283136;
}

.about-items {
    display: flex;
    flex-wrap: wrap;
    padding-left: 140px;
    width: 431px;
}

.about-orders {    
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #283136;
}

.about-list {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #283136;
    list-style: none;
}

.about-list li::before {    
    
    content: "";
    position: absolute;
    top: inherit;
    width: 25px;
    height: 2px;
    background: #FB565A;
}


.advantage {
    list-style: none;
    color: black;
}

.advantage-container {
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    margin-left: auto;
    padding-right: 140px;
    
}

.advantage-tagline {  
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.advantage-rate {
    font-size: 45px;
    line-height: 64px;
    font-weight: bold;
    list-style: none;
}

.advantage-text {
    font-size: 16px;
    line-height: 18px;
    color: #283136;
}

.contact-name {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.contact-adress {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}

.contact-button {                                                               
    display: block;
    width: 219px;
    height: 50px;
    background-color: #FB565A;
    border-style: none;
    box-sizing: border-box;
    border-radius: 3px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 44px;
    padding-top: 17px;
    padding-right: 44px;
    padding-bottom: 15px;
}

.social-button {
    display: flex;
    flex-wrap: wrap;
    width: 261px;
    padding-left: 140px;
}

.social-button li{
    width: 81px;
    height: 81px;
    list-style: none;
    background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
    border-style: none;
    border-radius: 50%;
}

.social-button li:hover {
    background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social-button li:active{
    background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-vk {
    display: block;
    padding-left: 27px;
    padding-top: 33px;
    padding-right: 28px;
    padding-bottom: 33px;
}

.social-fb {
    display: block;
    padding-left: 35px;
    padding-top: 31px;
    padding-right: 34px;
    padding-bottom: 28px;
}

.social-inst {
    display: block;
    padding: 30px;
}

.social-vk:active,
.social-fb:active,
.social-inst:active {
    opacity: 0.3;
}

.get-friends {
    
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

.get-friends-text {
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}
.get-friends,
.get-friends-text {
    display: flex;
    flex-wrap: wrap;
    width: 660px;
}


/* Catalog */

.shop {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
}

.filter-name {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.filter-points li {
    font-size: 16px;
    line-height: 19px;
    color: #283136;
    list-style: none;
    opacity: 0.4;
}

.filter-points li:hover {
    opacity: 1;
}

.show-button {
    width: 260px;
    height: 50px;
    background-color: #EEEEEE;
    border-style: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    padding-left: 88px;
    padding-top: 17px;
    padding-right: 89px;
    padding-bottom: 15px;
    outline: none;

}

.sorting li {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    list-style: none;
    opacity: 0.3;
}

.sorting li:hover{
    opacity: 0.6;
}

.sorting li:active {
    opacity: 1;
}

.next-button a{
    display: block;
    background-color: #EEEEEE;
    box-sizing: border-box;
    border-style: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: black;
}

.next-button .next-button-number {
    width: 50px;
    height: 50px;
    padding-left: 20px;
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 15px;
}

.next-button .next-button-number-next {
    width: 260px;
    height: 50px;
    text-transform: uppercase;
    padding-left: 78px;
    padding-top: 17px;
    padding-right: 77px;
    padding-bottom: 15px;
}

.next-button a:hover,
.show-button:hover {
    background-color: #DFDFDF;
}

.next-button a:active,
.show-button:active {
    background: #D5D5D5;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.next-button .next-button-selected {
    background: rgba(0, 0, 0, 0.0001);
    border: 3px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
}

.makets {
    list-style: none;
}

.makets-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;

    padding-left: 145px;
    padding-top: 26px;
    padding-right: 144px;
    padding-bottom: 175px;
}

.makets-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;

    padding-left: 68px;
    padding-top: 26px;
    padding-right: 53px;
    padding-bottom: 126px;

}

.makets-box {
    width: 360px;
    height: 231px;
    background-color: #EEEEEE;
}

.price-button{
    width: 200px;
    height: 50px;
    background-color: #FB565A;
    border-style: none;
    border-radius: 3px;
    box-sizing: border-box;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    padding-left: 72px;
    padding-top: 17px;
    padding-right: 72px;
    padding-bottom: 15px;
}
